
<div class="container bg-light">
<div  class="row px-5 py-5">
  <div  *ngFor="let item of pro_list" class="card shadow-sm my-3 col-4" style="width: 18rem;">
    <img class="card-img-top mt-3"style="
    height:250px;" [src]="item.image" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">{{item.title}}</h2>
      <h5 class="card-title">{{item.category}}</h5>
      <p class="card-text">price : {{item.price}}$</p>
      <a  class="btn btn-primary mr-3"  [routerLink]="['product',item.id]">view item</a>
      <a  class="btn btn-dark"(click)="addToCart(prod)" >add to cart</a>
    </div>
  </div>
</div>
</div>
    <app-carddetails >[item]="item"</app-carddetails>

